{% if page.comment %}
Comments at 
{% for k in page.comment %}
  <a href="{{k[1]}}">{{k[0]}}</a>{% if forloop.last %}.{% else %}, {% endif %}
{% endfor %}
{% endif %}
{% if page.replies %}
<br>Follow-ups at 
{% for k in page.replies %}
<a href="{{k[1]}}">{{k[0]}}</a>{% if forloop.last %}.{% else %}, {% endif %}
{% endfor %}
{% endif %}

<p>
<form action="https://formsubmit.co/928b923b668e10a176706a09a48958d5" id="errorForm" method="POST" style="max-width:97%;"> 
  <span>
    Mistakes?
  </span>
  <span style="display:inline-block" id="mistakes">
    <input type="text" class="headerfont" name="errors" placeholder=" you misspelled..." style="max-width: 14ch; padding:1px; border:1; font-size:100%;" required> 
    <input type="hidden" name="_subject" value="ERROR {{include.id}} {{page.title | slice: 0,20}}" /> 
    <input type="hidden" name="_next" value="https://dynomight.net/respond_success.html" /> 
    <input type="hidden" name="_captcha" value="false" /> 
    <input type="text" name="_honey" style="display:none">
    <input type="hidden" name="_url" value="https://dynomight.net/" />
    <button type="submit" id="errorButton" class="headerfont" style="margin:0; padding:1px; cursor:pointer; font-size:100%;">fix plz</button> 
  </span>
  <div class="popup-on-focus" style="visibility: hidden; transition: visibility 0s 0.3s, pointer-events 0s 0.3s; line-height: 1; color:gray;">(If you just want to see what happens, go <a href="https://dynomight.net/respond_success.html">here</a>.)</div>
</form>

<style>
  #mistakes:focus-within ~ .popup-on-focus {
    visibility: visible !important;
    pointer-events: auto !important;
    transition: visibility 0s 0s, pointer-events 0s 0s !important;
  }
</style>