<form action="https://formsubmit.co/928b923b668e10a176706a09a48958d5" method="POST">Subscribe?
<input type="hidden" name="_subject" value="SUBSCRIBE SUB" /> 
<input type="email" name="email" placeholder="email@email.com" style="max-width: 14ch; padding:1px; border:1; font-size:100%;" required /> 
<input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" /> 
<input type="hidden" name="_captcha" value="false">
<input type="text" name="_honey" style="display:none">
<input type="hidden" name="_url" value="https://dynomight.net/">
<button type="submit" lass="headerfont" style="margin: 0; padding:1px; cursor:pointer; font-size:100%;">ok</button>
(Or try <a href="https://dynomight.net/feed.xml">RSS</a> or <a href="https://dynomight.substack.com">substack</a>)
</form>