<head>

  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.ttf" as="font" type="font/ttf" crossorigin />
  
  {% if page.image %}
  <link rel="preload" as="image" href="{{page.image}}" />
  {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% comment %} 
    <title>{{ page.title }}</title>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endcomment %}
    {% comment %}<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">{% endcomment %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" defer />
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
    <link rel="shortcut icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg" sizes="any" />
    <link rel="alternate"  type="application/atom+xml"     href="/feed.xml" />
    {% comment %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% endcomment %}
    {% seo title=false %}
    {%- if site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}

    <!-- for mathjax support -->
    {% if page.usemathjax %}
      {% include mathjax.html %}
    {% endif %}

{% comment %}
<script type="text/javascript">
function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}
function onLoad(){
var options = [
'<form action="https://formsubmit.co/4a18e703496d7ca33c417b1bf528ad9d" method="POST"> \
<div class="headerfont">Get notified of new posts in one step:</div> \
<input type="hidden" name="_subject" value="SUBSCRIBE11" /> \
<input type="text" name="text" placeholder="your@email.com" style="font-family:monospace; margin-bottom:10px;"/> \
<input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" /> \
<input type="hidden" name="_captcha" value="false"> \
<input type="hidden" name="_url" value="https://dynomight.net/"> \
<button type="submit" class="headerfont">SUBSCRIBE AND DONE</button> \
</form>',
'<form action="https://formsubmit.co/4a18e703496d7ca33c417b1bf528ad9d" method="POST"> \
<div class="headerfont">Get notified of new posts in one step:</div> \
<input type="hidden" name="_subject" value="SUBSCRIBE12" /> \
<input type="text" name="text" placeholder="your@email.com" style="font-family:monospace; margin-bottom:10px;" /> \
<input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" /> \
<input type="hidden" name="_captcha" value="false"> \
<input type="hidden" name="_url" value="https://dynomight.net/"> \
<button type="submit" class="headerfont">SUBSCRIBE</button> \
</form>',
];
var index = getRandomInt(options.length);
var text = options[index];
document.getElementById("form").innerHTML=text;
}
</script>
{% endcomment %}

{% if page.head %}
{{page.head}}
{% endif %}

<style>
  .changer{
    color:white;
    text-align:center;
    text-shadow:0 0 5px rgba(0,0,0,1.0);
  }
.changer:hover{
  color: rgba(255,255,190,1.0);
}
.dark-on-hover:hover {
  filter: brightness(0.5);
}
.light-on-hover:hover{
  filter: brightness(2.0);
}
a:visited:hover{
  color:#363636;
}
a:hover{
  text-decoration: underline #363636;
}
</style>

<script data-goatcounter="https://dynomight.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

</head>