<head>

  {% if page.image %}
  <link rel="preload" as="image" href="{{ page.image | prepend: site.baseurl }}" postpone>
  <!-- <link rel="dns-prefetch" href="{{ page.image | prepend: site.baseurl }}"> -->
  <!-- <script>
    console.log("loading" + "{{ page.image | prepend: site.baseurl }}");
    (new Image()).src = "{{ page.image | prepend: site.baseurl }}";
    // var viewmode = getCookie("viewmode");
    // if(viewmode && viewmode != "{{ site.baseurl }}/assets/css/app.css"){
    //   (new Image()).src = "{{ page.image | prepend: site.baseurl }}";
    // }
  </script> -->
  {% endif %}
  

    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Regular.woff2" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/assets/fonts/EB_Garamond/static/EBGaramond-Regular.woff2" as="font" type="font/ttf" crossorigin />

    <link rel="me" href="https://mastodon.social/@dynomight" />

  {% if page.image %}
    {% unless true %} {% comment %} page.hide_hero {% endcomment %}
  <link rel="preload" as="image" href="{{page.image}}" />
    {% endunless %}
  {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>   
    <link id="pagestyle" rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <link rel="shortcut icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg" sizes="any">
    <link rel="alternate"  type="application/atom+xml"     href="/feed.xml">
    {% seo title=false %}


    <!-- for mathjax support -->
    {% if page.usemathjax %}
      {% include mathjax.html %}
    {% endif %}

{% if page.head %}
{{page.head}}
{% endif %}

<script data-goatcounter="https://dynomight.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

{% include navbar-head.html %}

<script>
  function setCookie(name, value, days){
      var d = new Date();
      d.setTime(d.getTime() + days * 24 * 60 * 60 * 1000);
      document.cookie = name + "=" + value + "; expires=" + d.toUTCString() + "; path=/";
  }
  function getCookie(name){
      var cookies = document.cookie.split(";");
      for(var i = 0; i < cookies.length; i++){
          var ck = cookies[i].trim().split("=");
          if(ck[0] == name)
          return ck[1];
      }
      return false;
  }
  var viewmode = getCookie("viewmode");
  if(viewmode && viewmode != "{{ site.baseurl }}/assets/css/app.css"){
      document.getElementById('pagestyle').setAttribute('href', viewmode);
  }
  // console.log("pagestyle" + document.getElementById('pagestyle'));
  // document.addEventListener('DOMContentLoaded', () => {
  //     var viewmode = getCookie("viewmode");
  //     if(viewmode){
  //         document.getElementById('pagestyle').setAttribute('href', viewmode);
  //     }
  // });
  function swapStyleSheet(sheet){
      document.getElementById('pagestyle').setAttribute('href', sheet);
      setCookie("viewmode", sheet, 30);
  }
  function setCookie(name, value, days){
      var d = new Date();
      d.setTime(d.getTime() + days * 24 * 60 * 60 * 1000);
      document.cookie = name + "=" + value + "; expires=" + d.toUTCString() + "; path=/";
  }
  function getCookie(name){
      var cookies = document.cookie.split(";");
      for(var i = 0; i < cookies.length; i++){
          var ck = cookies[i].trim().split("=");
          if(ck[0] == name)
          return ck[1];
      }
      return false;
  }
</script>


</head>