<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-dark" {% if page.image %} style="background: url('{{ page.image | prepend: site.baseurl }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body">
        <div class="container">
            <p class="title is-2" style="text-align:center; text-shadow:0 0 5px rgba(0,0,0,1.0);">{{ page.title }}</p>
            
            <p class="subtitle is-3" style="text-align:center">{{ page.subtitle }}</p>
        </div>
    </div>
</section>
