<div class="normalonly" style="height:3rem;"></div>
<div class="normalonly">
    <section
    id="hero"
    class="normalonly"
    style="
    background-repeat: no-repeat;
    background-image: url('{{ page.image | prepend: site.baseurl }}');
    {% if page.background_color %} background-color:{{page.background_color}}; {% endif %}
    background-size: cover;
    background-position: center;
    height:min(450px,40vh);
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 3rem;" >
    {% assign len={{page.title | size}} %}
    <h1 style="text-align:center; font-size:calc(min(8pt + (240vmin/{{len}}), 14vmin)); color: white; filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.33)); margin-left:5pt; margin-right:5pt; font-weight: bold; line-height:1.2;">{{page.title}}</h1>
</section>
</div>
<h1 class="luuonly">{{page.title}}</h1>