   
<!-- font-size:min(max(3vw,5pt),12pt); -->

<div class="normalonly noprint">
    <!-- <div class="headerfont noscrollbar" id="navnav" style="overflow: scroll; white-space:nowrap;  height:3em; display:flex; align-items: center; font-size:12pt; width:100%"> -->
    <div class="headerfont noscrollbar" id="navnav" style="height:3em; display:flex; align-items: center; font-size:12pt; width:100%">
        <a class="navbaritem" href="{{ site.baseurl }}/" style="font-size:min(4vw,100%); margin-left:5px;">DYNOMIGHT</a>

        <a class="navbaritem" href="{{ site.baseurl }}/about/" style="font-size:min(2.3vw,70%);">ABOUT</a>

        <a class="navbaritem" href="{{ site.baseurl }}/feed.xml" style="font-size:min(2.3vw,70%);">RSS</a>

        <a class="navbaritem" href="https://old.lemmy.world/c/dynomight" style="font-size:min(2.3vw,70%);">LEMMY</a>

        {% comment %}<a class="navbaritem" href="https://dynomight.substack.com" style="font-size:min(2.3vw,70%);">SUBSTACK</a>{% endcomment %}

        <form class="navbaritem" action="https://formsubmit.co/928b923b668e10a176706a09a48958d5" method="POST" style="margin-bottom:0;" id="navbarSubmitForm"> 
            {% comment %} subscribe to future posts {% endcomment %}
            <input type="email" class="headerfont" name="email" placeholder="a@b.com" style="max-width: 7.5ch; border:0; margin:0; padding-left:3pt; padding-right: 0pt; background-color:#eeeeee; height:2em; font-size:min(2.3vw,60%);" required> 
            <input type="hidden" name="_subject" value="SUBSCRIBE HAMB {{page.title | slice: 0,20}}" />
            <input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" />
            <input type="hidden" name="_captcha" value="false" />
            <input type="hidden" name="_url" value="https://dynomight.net/" />
            <input type="checkbox" id="guide" name="guide" value="guide" style="transform: scale(.7); vertical-align: middle; margin:0;">
            <label for="guide" class="headerfont" style="font-size:min(2.3vw,60%); padding-right:0px; vertical-align:middle; margin-right:3px; height:2em; display:flex; align-items:center; width:9ch; white-space:nowrap;">guide to&#160;life</label>
            <input type="text" name="_honey" style="display:none">
            <button type="submit" class="headerfont" id="navbarSubmitButton" style="border-radius:3pt; border: 0; padding-left:2pt; padding-right: 2pt; height:2.7em; cursor:pointer; font-size:min(2.3vw,60%); width:min(9ch,calc(100% - 17ch));">sub&#8203;scribe</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('navbarSubmitForm').addEventListener('submit', 
    function(event) {        
      document.getElementById('navbarSubmitButton').innerHTML = 'just a sec...';        
    });
    </script>


<div class="luuonly">
    <div>
        <a href="{{ site.baseurl }}/">DYNOMIGHT</a>
                    
        <a href="{{ site.baseurl }}/about/">ABOUT</a>

        <a href="{{ site.baseurl }}/feed.xml">RSS</a>

        <a href="https://dynomight.substack.com">SUBSTACK</a>

        <form action="https://formsubmit.co/4a18e703496d7ca33c417b1bf528ad9d" method="POST" style="display:inline;"> 
            <input type="email" class="headerfont" name="email" placeholder="email@email.com" required> 
            <input type="hidden" name="_subject" value="SUBSCRIBE HAMB {{page.title | slice: 0,20}}" />
            <input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" />
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_captcha" value="false" />
            <input type="hidden" name="_url" value="https://dynomight.net/" />
            <input type="checkbox" id="guide2" name="guide2" value="guide2"><label for="guide2" class="headerfont">guide to life</label>
            <button type="submit">subscribe</button>
        </form>


    </div>
</div>