<div class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">HOME</a>

            <a class="navbar-item" href="{{ site.baseurl }}/tags/">TAGS</a>
            
            <a class="navbar-item" href="{{ site.baseurl }}/subscribe/">SUBSCRIBE</a>
            
            <a class="navbar-item" href="{{ site.baseurl }}/feed.xml">RSS</a>

            <a class="navbar-item" href="https://twitter.com/dynomight7">
                <img src="{{ site.baseurl }} /img/twitter3.png" alt="TWITTER" />
            </a>

            {% comment%}
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            {% endcomment%}
        </div>
        {% comment%}
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/authors/">Authors</a>
                {% endif %}
            </div>
        </div>
        {% endcomment%}
    </div>
</div>
