<div class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">DYNOMIGHT</a>

            <a class="navbar-item" href="{{ site.baseurl }}/tags/">
                <font size=-1>TAGS</font>
            </a>
            
            <a class="navbar-item" href="{{ site.baseurl }}/subscribe/">
                <font size=-1>SUBSCRIBE</font>
            </a>
            
            <a class="navbar-item" href="{{ site.baseurl }}/feed.xml">
                <font size=-1>FEED</font>
            </a>

            <a class="navbar-item" href="https://twitter.com/dynomight7">
                <font size=-1>TWITTER</font>                
            </a>

            {% comment%}
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            {% endcomment%}
        </div>
        {% comment%}
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/authors/">Authors</a>
                {% endif %}
            </div>
        </div>
        {% endcomment%}
    </div>
</div>
