<div class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">DYNOMIGHT</a>
                        
            <a class="navbar-item" href="{{ site.baseurl }}/about.html" style="font-size:70%;">ABOUT</a>

            <a class="navbar-item" href="{{ site.baseurl }}/feed.xml" style="font-size:70%;">RSS</a>

            <a class="navbar-item" href="{{ site.baseurl }}/ebook.html" style="font-size:70%;">EBOOK</a>

            {% comment %}
            <a class="navbar-item" href="{{ site.baseurl }}/tags/">
                <font size=-1>ALL</font>
            </a>
            {% endcomment %}

            {% comment %}
            <a class="navbar-item" href="{{ site.baseurl }}/subscribe.html">
                <font size=-1>SUB</font>
            </a>
            {% endcomment %}

            {% comment %}
            <a class="navbar-item" href="https://twitter.com/dynomight7">
                <font size=-1>TWITTER</font>                
            </a>
            {% endcomment %}

            {% comment %}
            <a class="navbar-item" href="https://twitter.com/dynomight7">
                <img src="/img/twitter3.png" alt="twitter link" width="25" height="25">
            </a>
            {% endcomment %}

            <a class="navbar-item" href="https://twitter.com/intent/follow?screen_name=dynomight7">
                <img src="/img/twitter3.png" alt="twitter" width="25" height="25">
            </a>

            <a class="navbar-item" href="https://old.reddit.com/r/dynomight/">
                <img src="/img/reddit.png" alt="reddit" width="25" height="25">
            </a>

            {% comment %}
            <a class="navbar-item" href="{{ site.baseurl }}/mbti/">
                <font size=-1>MBTI</font>                
            </a>
            {% endcomment %}

            {% comment%}
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            {% endcomment%}
        </div>
        {% comment%}
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% if site.authors %}
                <a class="navbar-item" href="{{ site.baseurl }}/authors/">Authors</a>
                {% endif %}
            </div>
        </div>
        {% endcomment%}
    </div>
</div>
