{% if post.last_modified_at %}
{% assign updated = post.last_modified_at | date: "%Y%m%d" %}
{% else %}
{% assign updated = post.date | date: "%Y%m%d" %}
{% endif %}

<a href="{{ site.baseurl }}{{ post.url }}" class="no-link-effect">
<div class="blurb-div" data-date="{{post.date | date: "%Y%m%d"}}" data-updated="{{updated}}">
    <div class="normalonly hidden-mobile">
        <img src="{{ post.image | prepend: site.baseurl | prepend: '/small'}}" class="blurb-img" style="width:min(360px,30vw); height:calc(min(360px,30vw) / 1.6); max-height: none; max-width: none;" alt="" loading="lazy">
    </div>
    <div class="blurb-text">
        <span class="headerfont blurb-title" style="display:inline-block;">
            {{post.title}}
        </span>  
        <span class="headerfont blurb-date" style="display:inline-block;">
            {% unless nodate %}{{ post.date | date: "%Y.%m.%d"}}{% if post.last_modified_at %} - {{post.last_modified_at | date: "%Y.%m.%d"}}{% endif %}{% endunless %}
        </span>  
        <!-- TODO: make silent link class -->
        {% comment %}{% unless nodate %}<span class="blurb-date blurb-words headerfont" style="white-space:nowrap;">({{ post.date | date: "%b %-d %Y"}}{% if post.last_modified_at %}, updated {{post.last_modified_at | date: "%b %-d %Y"}}{% endif %})</span>{% endunless %}{% endcomment %}
        {% comment %}
        {% unless nodate %}<span class="blurb-date blurb-words headerfont">{{ post.date | date: "%Y.%m.%d"}}{% if post.last_modified_at %} - {{post.last_modified_at | date: "%Y.%m.%d"}}{% endif %}</span>{% endunless %}
        {% endcomment %}
        
        <div class="blurb-words">
            <div class="normalonly only-mobile" style="float:left; margin-right:5px; margin-top:5px; margin-bottom:-5px;">
                <img src="{{ post.image | prepend: site.baseurl | prepend: '/tiny'}}" class="blurb-img" style="width:min(360px,30vw); height:calc(min(360px,30vw) / 1.6); max-height: none; max-width: none;" alt="" loading="lazy">
            </div>

            <p class="headerfont" style="margin-top: 5px; margin-bottom: 5px;">
                <span class="blurb-subtitle">{{ post.description }}</span> 
            </p>
            {% unless noexcerpt=='true' %}
                {% assign excerpt=post.excerpt | strip_html %}    
                {% comment %} if excerpt too short, get more from content? {% endcomment %}
                {% if excerpt.size < 50 %}
                    {% assign excerpt=post.content | markdownify | strip_html %}
                {% endif %}
                <p class="headerfont blurb-quote">{{excerpt | truncatewords: 50}}</p>
            {% endunless %}
        </div>
        </a>
    </div>
</div>
</a>