{% comment %}
RESPOND / SUBSCRIBE</div>
<div style="text-align:left;">
<!--<details style="border: none 1px #cccccc; width:100%; padding: 5px; border-radius: 5px;"><summary class="headerfont" style="font-size:80%;">say hi</summary>-->
<form action="https://formsubmit.co/4a18e703496d7ca33c417b1bf528ad9d" method="POST"> 
  <input type="hidden" name="_subject" value="RESPONSE {{page.title | slice: 0,20}}" /> 
  <textarea type="text" name="text" class="headerfont" placeholder="Dear Dynomight..." style="margin-bottom:0px; padding:0px; width:100%; height:10em; word-wrap: break-word; word-break: break-all; border-radius: 5px; padding:5px;"></textarea>
  <!-- <span class="headerfont" style="font-size:70%; ">(optional)</span> -->
  {% comment %}
  <span class="headerfont" style="font-size:70%; ">subscribe?</span>
  <input type="checkbox" value="1" name="subscribebox" style="padding:10pt;" />
  {% endcomment %}
  <input type="text" name="_honey" style="display:none"> 
  <input type="hidden" name="_next" value="https://dynomight.net/success.html" /> 
  <input type="hidden" name="_captcha" value="false"> 
  <input type="hidden" name="_url" value="https://dynomight.net/">
  <input type="email" name="email" class="headerfont" placeholder="email (optional, for reply/subscribe)" style="margin-bottom:10px; padding-top:10px; padding-bottom:10px; padding-left:10px; min-width:29ch;"/> <button type="submit" class="headerfont" style="padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px;">SEND</button> 
  <br>
  <input type="checkbox" id="sub" name="sub" value="sub" style="transform: scale(1.3);">
  <label for="guide" class="headerfont" style="margin-top:5px; padding:0px; font-size:65%;">subscribe</label>
  <input type="checkbox" id="guide" name="guide" value="guide" style="transform: scale(1.3);">
  <label for="guide" class="headerfont" style="margin-top:5px; padding:0px; font-size:65%;">also get dynomight guide to life</label>
  <br>
  
</form>
<!-- <span class="headerfont" style="font-size:60%;">Help with my ever-proliferating collection of typos, please.</span> -->
<br>
<!-- </details> -->
</div> 
{% endcomment %}