<div class="container" style="text-align: center; border-style:solid; border-color:#aaaaaa; border-width:0px; padding:10px; border-radius: 5px; width:min(100%,400pt);" id="form"> 
  <form action="https://formsubmit.co/4a18e703496d7ca33c417b1bf528ad9d" method="POST"> 
    <input type="email" class="headerfont" name="email" placeholder="email@email.com" style="max-width: 60%; margin-bottom:8px; padding:8px; border:0; background-color:#dddddd;" required> 
    <input type="hidden" name="_subject" value="SUBSCRIBE {{include.id}} {{page.title | slice: 0,20}}" /> 
    <input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" /> 
    <input type="hidden" name="_captcha" value="false" /> 
    <input type="hidden" name="_url" value="https://dynomight.net/" />
    <!-- <span style="max-width: 50%; border-color:white; border-width:1.1px; border-style:solid; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; "> -->
      <input type="checkbox" id="guide" name="guide" value="guide" style="transform: scale(1); vertical-align: middle; margin-left:3pt">
      <label for="guide" class="headerfont" style="margin-top:5px; padding:0px; font-size:70%; margin-right:3pt;">also send guide to life</label>
      <span style="max-width: 40%; border-style:none; padding-top:6px; padding-bottom:6px; padding-left:5px; padding-right:5px; background-color:#aaaaaa; cursor:pointer;">
    <button type="submit" class="headerfont" style="border-width:0px; margin:0; padding:0; background-color: transparent; cursor:pointer;">ok fine</button> 
    </span> 
    <!-- <div class="headerfont" style="color:white; margin-bottom:2px; padding:10px; font-size:50%;">(A couple articles per month. Unsubscribe whenever.)</div>  -->
  </form>
  </div>