@charset "utf-8";

// @font-face {
//   font-family: "Montserrat";
//   src: url("/assets/fonts/Montserrat/Montserrat-Light.ttf");
//   font-display: swap;
// }



//@import url('https://fonts.googleapis.com/css?family=Open+Sans|Marcellus|Righteous|Kumbh+Sans|Judson|Montserrat|Playfair+Display&display=swap');
$family-sans-serif: 'Montserrat', sans-serif;
//$family-sans-serif: 'Open Sans', sans-serif;
$family-serif: 'Palatino';
//$family-serif: 'Judson';
//$family-serif: 'Kumbh Sans';
$family-primary: $family-serif;
$family-secondary: $family-sans-serif;
$title-family: $family-sans-serif;
h1, h2, h3, h4, h5, h6 {
  font-family: $title-family;
  font-weight: 100;
}
.headerfont{
  font-family: $title-family;
  font-weight: 100;
}



// Colours
$primary: #4fa6a3 !default;
$dark: #363636;
$light: #f6f6f6;
$white: #ffffff;

//Cards
$card-shadow: none;
$card-footer-border-top: none;
$card-background-color: $light;

// Pagination
$pagination-focus-border-color: $dark;
$pagination-current-color: $white;
$pagination-current-background-color: $dark;
$pagination-current-border-color: $dark;

// Radius
$radius: 0;
$radius-large: 0;
$radius-small: 0;

@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax";
@import "intro";
