---
---

@charset "utf-8";

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.woff2") format('woff2'),
       url("/assets/fonts/Montserrat/Montserrat-Regular.woff") format('woff');
  font-display: swap;
}

// @font-face {
//   font-family: "Garamond";
//   src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
//   src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.woff2") format('woff2'),
//        url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.woff") format('woff');
//   font-display: swap;
// }

@font-face {
  font-family: "Source Serif";
  src: url("/assets/fonts/SourceSerif4-Regular.ttf");
  src: url("/assets/fonts/SourceSerif4-Regular.woff2") format('woff2'),
       url("/assets/fonts/SourceSerif4-Regular.woff") format('woff');
  font-display: swap;
}


h2:target::before, h3:target::before {
  content: "";
  display: block;
  height: 20vh; /* Adjust this value to set how much space you want above your target */
  margin-top: -20vh; /* This should be the negative of the height */
  visibility: hidden;
  pointer-events: none;
}

// @font-face {
//   font-family: "Garamond";
//   src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf");
//   src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Italic.woff2") format('woff2'),
//        url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Italic.woff") format('woff');
//   font-display: swap;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Garamond";
//   src: url("/assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf");
//   src: url("/assets/fonts/EB_Garamond/static/EBGaramond-Regular.woff2") format('woff2'),
//        url("/assets/fonts/EB_Garamond/static/EBGaramond-Regular.woff") format('woff');
//   font-display: swap;
// }

// @font-face {
//   font-family: "Garamond";
//   src: url("/assets/fonts/EB_Garamond/static/EBGaramond-Italic.ttf");
//   src: url("/assets/fonts/EB_Garamond/static/EBGaramond-Italic.woff2") format('woff2'),
//        url("/assets/fonts/EB_Garamond/static/EBGaramond-Italic.woff") format('woff');
//   font-display: swap;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Fell";
//   src: url("/assets/fonts/IM_Fell_English/IMFellEnglish-Regular.ttf");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Caslon";
//   src: url("/assets/fonts/Libre_Caslon_Text/LibreCaslonText-REgular.ttf");
//   font-display: swap;
// }


// @font-face {
//   font-family: "Doves";
//   src: url("/assets/fonts/Doves/DovesTypeText-Regular.ttf");
//   src: url("/assets/fonts/Doves/DovesTypeText-Regular.woff2") format('woff2'),
//        url("/assets/fonts/Doves/DovesTypeText-Regular.woff") format('woff');
//   font-display: swap;
// }


// set all colors here

$normal-text-color: black;
$blurb-text-color: rgb(90,90,90);
$normal-quote-color: rgb(75,75,75);
$normal-bg-color: white;
$normal-details-bg-color: #eeeeee;
$normal-navbar-bg-color: rgba(255,255,255,0.75);

$dark-text-color: white;
$dark-quote-color: rgb(180,180,180);
$dark-bg-color: black;
$dark-details-bg-color: #222222;
$dark-navbar-bg-color: rgba(0,0,0,0.75);

$family-sans-serif: Montserrat, sans-serif;
$family-serif: "Source Serif", Georgia, serif;

$family-primary: $family-serif;
$family-secondary: $family-sans-serif;
$title-family: $family-sans-serif;
h1, h2, h3, h4, h5, h6 {
  font-family: $title-family;
  line-height: 1;
  //font-weight: lighter;
}
h1, h2{
  text-align: center;
}

.posttitle{
  font-family: $title-family;
  font-weight: lighter;
  line-height: 1;
}
.headerfont{
  font-family: $title-family;
  font-weight: lighter;
}
.orangebutton:not(:hover){
  /* border: 2px orange solid; */
  background-color: #cc5a25bf;
}
.orangebutton:hover{
  /* color:white; */
  /* border: 2px rgb(47,124,246) solid; */
  background-color: #cc5a25e8;
}

.nolinkstyle{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

// hr {
//   width: 4ch;
//   border-style: dotted none none;
//   border-width: 4px;
//   //border-color: red;
// }

// arrogant textual D
// hr {
//   border: none;
//   color: black;
//   font-family: $family-sans-serif;
//   font-size: 75%;
// }
// hr::before {
//   content: '—D—';
//   display: block;
//   text-align: center;
// }

// hr {
//   border: none;
//   color: black;
//   font-family: $family-sans-serif;
//   font-size: 75%;
// }
// hr::before {
//   content: '— § —';
//   display: block;
//   text-align: center;
// }


hr {
  width: 4ch;
  border-style: solid none none;
  border-width: 20%;
  //border-color: red;
}

.navbaritem{
    color: $normal-text-color;
    text-decoration: none;
    margin-left:4px;
    height:100%;
    align-items:center;
    display:flex;
}
// .navbaritem:hover{
//     text-decoration:underline;
// }
.navbaritem:visited{
    color: $normal-text-color;
}
// gets rid of visible scrollbar but still allows scrolling
.noscrollbar{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.noscrollbar::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
}

#sub{
  display:none;
}
#sub:target {
  display: block;
}

a{
    color: #3273dc;
    text-decoration: none;
}
a:visited:hover{
    color: inherit;
}
a:hover{
  color: inherit;
  text-decoration: underline $normal-text-color;
}
a:visited { 
    //color:#5f32dc;
    //color: #a0a0a0;
    color:rgb(67,54,220);
}

html{
    -webkit-font-smoothing: antialiased;
    font-weight:lighter;
    font-family: $family-serif;
    scroll-behavior: smooth;
}
// body{
//     margin:0;
//     font-size: 1.15em;
//     line-height: 1.4;
//     word-wrap: break-word; // break long words
// }
body{
  margin:0;
  font-size:calc(max(1.0em,min(3vw,1.1em))); //1.15em;
  //font-size:1.1em;
  line-height: 1.5;
  word-wrap: break-word; // break long words
}
code {
  font-family: Consolas, Monaco, "DejaVu Sans Mono", monospace;
  font-size: calc(.7*max(1.0em,min(3vw,1.1em)));
  line-height: 1;
}
pre{
  line-height: 1
}
// code {
//   font-family: Consolas, Monaco, "DejaVu Sans Mono", monospace;
//   font-size: 80%;
//   line-height: 1;
// }


// // used to make titles turn yellow on hover
// .changer{
//     color:white;
//     text-align:center;
//     text-shadow:0 0 5px rgba(0,0,0,1.0);
//     text-decoration: none;
//   }
// .changer:hover{
//   color: rgba(255,255,190,1.0);
//   text-decoration: none;
// }

// .dark-on-hover:hover {
//   filter: brightness(0.5);
// }
// .light-on-hover:hover{
//   filter: brightness(2.0);
// }

// .visible-on-hover p {
//   visibility: hidden;
// }
// .visible-on-hover:hover p {
//   visibility: visible;
// }

#theme-select{
  font-size: 90%;
  margin-right: 0;
  margin-left: 0;
}
#sort-select{
  font-size: 90%;
  margin-right: 0;
  margin-left: 0;
}

.theme-div{
  padding-left: .5rem;
  font-size: 60%;
  display: flex;
  align-items: center;
  height:2rem;
}

.maintext {
  //max-width: 75ch;
  max-width: 70ch; // garamond is wider
  padding-left: 1rem;
  padding-right: .75rem;
  margin:auto;
}

.blurbs{
  margin:10pt;
}

.after-content{
  padding: .5rem;
}


// stuff to make details look different

details{
    margin-bottom: 10pt;
    background: $normal-details-bg-color;
}
details > summary{
  padding-bottom: 0pt;
  cursor: pointer;
  background: $normal-bg-color;
  padding-bottom: 5pt;
  list-style: none;
}
details > *:not(summary){
  margin-top: 5pt;
  margin-left: 5pt;
  margin-bottom: 5pt;
}
  summary::-webkit-details-marker {
    display: none
  }
  summary::after {
    content: ' ▸';
  }
  details[open] summary:after {
    content: ' ▾';
  }


// stuff to make tables look different
table{
    font-family:Montserrat;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5em 0.75em;
    line-height: 1;
}
table th{
    text-align:left;
}
table tr{
  vertical-align: top;
}

ol {
  padding-left: 1.5em;
}

ul {
  padding-left: 1.5em;
}

@media (min-width:501px){
table{
  max-width:100;
  max-width:100%;
  font-size:90%;
}
}
@media (max-width:500px) and (min-width:301px) {
table{
  max-width:100;
  max-width:100%;
  font-size: 2.8vw;
}
}
@media (max-width:300px) {
table{
  max-width:100;
  max-width:100%;
  font-size: 0.5em;
}
// .fixed{
//     max-width:100;
//     max-width:100%;
//     overflow:scroll;
// }
}

strong{
    font-weight: bold;
}

blockquote {
    color: $normal-quote-color;
    padding-left: 15px;
    border-left: 3px solid $normal-quote-color;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}

img {
    max-width: 90%; // not too wide
    max-height: 75vh; // not too tall
    width: auto; // but keep aspect ratio
    height: auto; // but keep aspect ratio
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// figure{
//   width: 95%;
// }

// video{
//     display: block;
//     margin: 0 auto;
// }

video {
  max-width: 90%; // not too wide
  max-height: 75vh; // not too tall
  width: auto; // but keep aspect ratio
  height: auto; // but keep aspect ratio
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leftbar {
  margin-bottom:3em;
  width:calc(min( (100vw - 80ch ) / 2 - 5px, 30ch));
  display:inline-block;
  line-height: 1;
  font-size:75%;
  float:left;
  position:sticky;
  left:5px;
  top:7em;
  color: gray;
  height: 100vh;
}

.leftbar > ul, .leftbar > ul > li, .leftbar > ul > li > ul, .leftbar > ul > li > ul > li  {
  margin-left: 8px;
  padding-left: 0pt;
  list-style-type: none;
}
.leftbar > ul, .leftbar > ul > li{
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 1ch;
}
.leftbar > ul > li > a, .leftbar > ul > li > ul > li > a{
  color: $normal-quote-color;
}

//@media(min-width: 1101px){
@media(min-width: 1051px){
  // invisible when leftbar visible
  .noleftbar{
    display: none;
  }
}

//@media (max-width: 1100px) {
@media (max-width: 1050px) {
  .leftbar {
    display: none;
  }
}

// class for the TOC on left
.toc {
  margin-bottom:5px;
  color:gray;
}
.toc > a{
  display: inline-block; // make link take up full width
  width: 100%; // make link take up full width
}
.toc > a:hover{
  font-weight: bold;
  color: black;
  text-decoration: none;
  letter-spacing: -0.35px;
  //text-decoration: underline;
}

#navnav {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.25s;
  opacity: 100%;
  background-color: $normal-navbar-bg-color;
}

// make links not look like links
.no-link-effect{
  text-decoration: inherit;
  color: inherit;
}
.no-link-effect:hover{
  text-decoration: inherit;
  color: inherit;
}
.no-link-effect:visited{
  text-decoration: inherit;
  color: inherit;
}

.blurb{
  text-decoration: none;
}
.blurb:hover{
  text-decoration: none;
}
.blurb:hover .blurb-div .blurb-text .blurb-title{
  text-decoration: underline;
}
.blurb:hover .blurb-div .blurb-text .blurb-date{
  text-decoration: underline;
}

// post-item-blurb stuff
.blurb-div{
  display:flex;
  justify-content: center;
  gap:10pt;
  margin-top:10px;
}
.blurb-text{
  max-width:90ch;
  flex:1;
  line-height: 1.0;
}
.blurb-subtitle{
  display:none;
  font-style:italic;
}
.blurb-words{
  line-height: 1.2;
  font-size:calc(0.042 * min(360px,90vw));
  color: $normal-text-color;
}
.blurb-title{
  margin-top: 0pt;
  //font-size:calc(0.042 * min(360px,90vw));
  font-size:calc(0.048 * min(360px,90vw));
  font-weight: bold;
}
.blurb-date{
  margin-top: 0pt;
  //font-size:calc(0.042 * min(360px,90vw));
  //font-size:calc(0.048 * min(360px,90vw));
  font-size:calc(0.036 * min(360px,90vw));
  font-weight: normal;
  color: $normal-text-color;
}
.blurb-quote{
  color:$blurb-text-color;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align:justify;
}
.blurb-img{
  width:min(240px,30vw);
  height:calc(min(240px,30vw) / 1.6);
  max-height: none;
  max-width: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 2px;
}

// classes to turn stuff on and off in certain modes
.normalonly{
  display:unset;
}
.luuonly{
  display:none;
}

@media (max-width: 500px) {
  .hidden-mobile {
    display: none;
  }
  .hidden-mobile .normalonly{
    display: none;
  }
  .hidden-mobile .luulonly{
    display: none;
  }
}

@media (min-width: 501px) {
  .only-mobile{
    display: none;
  }
  .only-mobile .normalonly{
    display: none;
  }
  .only-mobile .luulonly{
    display: none;
  }
}

.theme-boxes{
  transform:scale(.7);
  margin-right: 0;
}

.brutalism-selector{
  font-family: $family-sans-serif;
  width: fit-content;
}

#default-button{
  color:red;
  cursor: pointer;
}
#luu-button{
  color:inherit;
  cursor: pointer;
}

// DARK MODE OVERRIDES

@media (prefers-color-scheme: dark) {
  html{
    color:$dark-text-color;
    background-color: black;
  }

  blockquote {
    color:  $dark-quote-color;
    border-left-color: $dark-quote-color;
  }

  details{
    background: $dark-details-bg-color;
  }
  details > summary{
    background:$dark-bg-color;
  }
  // change images
  img{
    background: white; // transparent -> white
    opacity: 0.75; // transparent
    transition: opacity .4s ease-in-out;
  }
  img:hover { // 
    opacity: 1;
  }

  // this would flip colors; but I'm worried that text prefers specific colors (e.g. "all blues")
  // img[src$='.svg'] {
  //   filter: invert(100%); // flip colors
  // }

  .leftbar > ul > li > a, .leftbar > ul > li > ul > li > a{
    color: $dark-quote-color;
  }

  a, a:visited {
    color: #b86d1b;
  }

  a:hover{
    text-decoration: underline $dark-text-color;
  }
  
  .blurb-quote{
    color:$dark-quote-color;
  }
  
  .navbaritem{
      color: inherit;
  }
  .navbaritem:hover{
      text-decoration:underline;
  }
  .navbaritem:visited{
      color: inherit;
  }

  #navnav {
    background-color: $dark-navbar-bg-color;
  }
  
}

@media print {
  .noprint {
    visibility: hidden;
  }
}


.list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  flex-wrap: wrap;  /* Allows the lists to wrap if there's not enough space */
  gap: 10px 20px;        /* Space between the lists */
  line-height: 1.1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

@media (max-width: 1200px) {
  .list-container {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row on medium screens */
  }
}

@media (max-width: 800px) {
  .list-container {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on small screens */
  }
}

// /* Style for each list item */
// .list-container > div {
//   flex: 1 1 300px;  /* Make each list flexible with a minimum width of 150px */
//   //padding: 30px;
//   box-sizing: border-box;
// }

/* Style for the labels */
.list-container > div > label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

/* Style for unordered lists */
.list-container > div > ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: 100%;
}

.list-container > div > ul > li {
  margin-bottom: 10pt;
}

.list-container > div > ul > li > a {
  //text-decoration: none;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  //color: inherit;
}