---
---

$title-color: #161616;
$subtitle-color: #498f71; // 346751
$accent-color: #C84B31;
$content-margin: 15px;
$text-color: black;
$quote-color: #222222;

// for dark

//$dark-accent-color: #b86d1b;
$dark-title-color: #26426B;
$dark-subtitle-color: #346751;
$dark-accent-color: #b78a5b;
$dark-text-color: #F0F0F0; // white ?
$dark-quote-color: rgb(180,180,180);
$dark-bg-color: #1A1A1A; // black?
$dark-details-bg-color: #222222;
$dark-navbar-bg-color: rgba(0,0,0,0.75);


// GENERAL RULES

html{
    -webkit-font-smoothing: antialiased;
    font-weight:lighter;
    scroll-behavior: smooth;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    overflow-y: scroll; /* Forces the vertical scrollbar to always be visible */
    color: $text-color;
}

body {
  margin: 0;
  padding: 0;
  font-size:calc(max(1.0em,min(3vw,1.1em)));
}

main {
    margin: 0;
    padding: 0;
}

a {
  color: $accent-color;
  text-decoration: none;
}
a:hover{
  color: $text-color;
  text-decoration: underline;
}
a:active{
  color: $text-color;
  text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: min(9vw, 5rem);
    font-weight: 100;
    margin-bottom: .4em;
    margin-top: .125em;
    color: $title-color;
}

h1, h2, h3{
  line-height: 1.1;
}


hr {
  border: none;
  height: 6px;
  background: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="6" viewBox="0 0 1000 6">\
      <path d="M0 3 C100 0 150 6 250 3 C350 0 400 6 500 4 C600 1 650 6 750 4 C850 1 900 6 1000 3"\
            stroke="%23000" stroke-width="1.0" fill="none"/>\
    </svg>') repeat-x;
  margin: 2rem 0;
}

// reduce list space
ol, ul {
  padding-left: 1.5em;
}

// line for quotes
blockquote {
  color: $quote-color;
  padding-left: 1em;
  border-left: 2px solid;
  margin-inline-start: 0.25em;
  margin-inline-end: 0.25em;
}


article section, .post-item {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-margin;
  padding-right: $content-margin;
  line-height: 1.53;
}

// FOR TIMES

time {
  cursor:pointer;
  // font-weight:bold;
}

// FOR POSTS

article section img {
    max-width: 90%; // not too wide
    max-height: 75vh; // not too tall
    width: auto; // but keep aspect ratio
    height: auto; // but keep aspect ratio
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article section video {
  max-width: 90%; // not too wide
  max-height: 75vh; // not too tall
  width: auto; // but keep aspect ratio
  height: auto; // but keep aspect ratio
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// FILTERING

.hidden {
    display: none !important;
}

#filters a {
    margin-right: 10px; /* Just a little space between links */
    cursor: pointer;     /* Indicates it's clickable */
}

#filters a.active {
    font-weight: bold; /* Make the active link bold */
    color: black;       /* Change color for active link */
}

.tag-selector-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
}

#tag-filter {
    outline: none;
    border: none;
    text-align: right;
    background-color: inherit;
    color: $accent-color;
    font-weight: normal;
    cursor: pointer;
}

#tag-filter:hover {
    color: $text-color;
}

.clear-filter-btn {
    background: none;
    border: none;
    color: $accent-color;
    cursor: pointer;
    display: flex;
    align-items: right;
    justify-content: center;
    pointer-events: none;
    font-weight: bold;
}

.clear-filter-btn:hover {
    color: $text-color;
}


// DETAILS

details{
    margin-bottom: 10pt;
    
}
details > summary{
  padding-bottom: 0pt;
  cursor: pointer;
  padding-bottom: 5pt;
  list-style: none;
  background: white;
}
details > *:not(summary){
  margin-top: 5pt;
  margin-left: 5pt;
  margin-bottom: 5pt;
  padding-bottom: 5pt;
}
  summary::-webkit-details-marker {
    display: none
  }
  details[open] {
    background: lightgray;
  }
  summary::after {
    content: ' ▸';
  }
  details[open] > summary::after {
    content: ' ▾';
  }

// TABLES

table{
    font-family:Montserrat;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5em 0.75em;
    line-height: 1;
}
table th{
    text-align:left;
}
table tr{
  vertical-align: top;
}

// font-size

@media (min-width:501px){
table{
  max-width:100;
  max-width:100%;
  font-size:90%;
}
}
@media (max-width:500px) and (min-width:301px) {
table{
  max-width:100;
  max-width:100%;
  font-size: 2.8vw;
}
}
@media (max-width:300px) {
table{
  max-width:100;
  max-width:100%;
  font-size: 0.5em;
}
}

// FOR BLURBS

.post-item {
    display: grid;
    grid-template-columns: 10ch 1fr;
    gap: 0 10px;
    margin-bottom: 20px;
    align-items: baseline;
}

// control links unless otherwise instructed
.post-item a {
    text-decoration: inherit;
    color: inherit;
}

.post-item h2{
  color: $subtitle-color;
}


// time in upper left
.article-time {
    grid-column: 1;
    grid-row: 1;
    color: #666;
    text-align: right;
    font-size: 85%;
}

// title in upper right
.article-title {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 5px;
    color: $subtitle-color;
}

// make title bigger
.article-title h2 {
    text-decoration: inherit;
    color: inherit;
    margin: 0 0 5px 0;
    font-size: 130%;
    // line-height: 1;
}

// tags lower left
.article-tags {
    grid-column: 1;
    grid-row: 2;
    color: $accent-color;
    font-size: 85%;
    text-align: right;
    line-height: 1.0;
    align-items: top;
}
.article-tags a:hover {
    color: $text-color;
    text-decoration: underline;
}

// description lower-right
.article-description {
    grid-column: 2;
    grid-row: 2;
    color: #555;
    overflow: hidden;
    line-height: 1.3;
    max-height: 3.9em; // 3x line-height
}

// wraps title and description
.article-content {
    display: contents;
}
.article-content:hover .article-description {
    color: $text-color;
}
.article-content:hover .article-title {
    // text-decoration: underline;
    color: $text-color;
}

.related-link {
  color: $subtitle-color;
}

// BUTTONS AND FORMS

.forms {
  margin-top: 1em;
  // color: dark;
}

.button{
  background-color: inherit;
  color: $accent-color;
  margin:0;
  cursor:pointer;
  font-size:100%;
  border: none;
  text-decoration: underline;
}


.button:hover,
.button:focus {
  color: black;
}

.textinput{
  outline: 1.5px none;
  font-size: 80%;
  color: $accent-color;
  background-color: whitesmoke;
  font-weight: 100;
  width:17ch;
  border: none;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  padding: 0.25ch;
}

.textinput::placeholder{
  //color: $accent-color;
  color: lighten(desaturate($accent-color, 15%), 15%);
}

// CODE

code {
  font-size: 75%;
}

// DARK MODE

@media (prefers-color-scheme: dark) {
  html{
    color:$dark-text-color;
    background-color: $dark-bg-color;
  }

  a, .button, .article-tags, #tag-filter, .clear-filter-btn, .textinput{
    color: $dark-accent-color;
  }

  .textinput{
    //background-color: $dark-bg-color;
    background-color: #303030;
  }

  .textinput::placeholder{
    color: darken(desaturate($dark-accent-color, 15%), 15%);
  }

  h1{
    color: $dark-text-color;
  }

  .post-item h2{
    color: $dark-subtitle-color;
  }


  blockquote {
    color:  $dark-quote-color;
    border-left-color: $dark-quote-color;
  }

  details > summary{
    background: $dark-bg-color;
  }
  details[open] {
    background: $dark-details-bg-color;
  }


  // just chane stroke to white
  hr {
    background: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="6" viewBox="0 0 1000 6">\
        <path d="M0 3 C100 0 150 6 250 3 C350 0 400 6 500 4 C600 1 650 6 750 4 C850 1 900 6 1000 3"\
              stroke="%23fff" stroke-width="2" fill="none"/>\
      </svg>') repeat-x;
  }

  img{
    background: white; // transparent -> white
    opacity: 0.75; // transparent
    transition: opacity .4s ease-in-out;
  }
  img:hover { // 
    opacity: 1;
  }

  a:hover{
    color: $dark-text-color;
    text-decoration: underline $dark-text-color;
  }


  .article-tags a:hover {
      color: $dark-text-color;
      text-decoration: underline;
  }

  .post-item a {
    text-decoration: inherit;
    color: inherit;
  }

  .article-description, .article-time {
    color: #aaa;
  }


  #tag-filter:hover, .clear-filter-btn:hover {
    color: $dark-text-color;
  }

  .article-content:hover .article-description {
    color: $dark-text-color;
  }
  .article-content:hover .article-title {
    color: $dark-text-color;
  }

   .article-content:hover h2{
    color: $dark-text-color;
  }


}

@media print {
  .noprint {
    visibility: hidden;
  }
}

