---
---

@charset "utf-8";

.normalonly{
    display:none;
}

.luuonly{
    display:inherit;
}

.blurb-div{
    margin-top:5px;
    margin-bottom:5px;
}

.blurb-title{
    font-weight: bold;
}

// make links not look like links
.no-link-effect{
    text-decoration: none;
    color: inherit;
}
.no-link-effect:hover{
    text-decoration: none;
    color: inherit;
}
.no-link-effect:visited{
    text-decoration: none;
    color: inherit;
}

// but do inside title link
a .blurb-title{
    color: #0000EE;
}
a:visited .blurb-title{
    color: #551A8B;
}
a:active .blurb-title{
    color: #FF0000;
}

// hide left bar
.leftbar{
    display:none;
}


img{
    max-width: min(100%,500px);
}

#default-button{
    color:inherit;
}
#luu-button{
    color:red;
}