<!doctype html>
<html lang="en">
{% include head.html %}

{% comment %}
<body onload="onLoad()">
{% endcomment %}

<body>

    
{% include navbar-scrolling.html %}
{% comment %} page.hide_hero {% endcomment %}
{% if false %}
    <h1 class="title is-2" style="text-align:center; color:black; margin-top: 30pt; margin-left: 10pt; margin-right: 10pt; font-size:230%;">{{ page.title }}</h1>
{% else %}
    {% include hero.html %}
{% endif %}
   
<section class="section">
    <div class="container">
        {{ content }}
    </div>
</section>

<!-- <section class="section">
    <div class="container" style="text-align: right;">
           <a href="https://dyno-might.github.io/feed.xml">RSS</a> | <a href="https://twitter.com/dynomight7">@dynomight7</a>
    </div>
</section> -->
   
{% comment %}
{% include navbar.html %}
{% endcomment %}

</body>
</html>

