<!doctype html>
<html lang="en">
{% include head.html %}

{% comment %}
<body onload="onLoad()">
{% endcomment %}

<body>

    
{% include navbar-scrolling.html %}
{% include hero.html %}
   
<div>
{{ content }}
</div>

<!-- <div id="brutalism-selector">
Theme: <button id="default-button" onclick="swapStyleSheet('/assets/css/app.css');">normal</button> <button id="luu-button" onclick="swapStyleSheet('/assets/css/luu.css');">brutalism</button>
</div> -->

<!-- <section class="section">
    <div class="container" style="text-align: right;">
           <a href="https://dyno-might.github.io/feed.xml">RSS</a> | <a href="https://twitter.com/dynomight7">@dynomight7</a>
    </div>
</section> -->

</body>
</html>

