---
layout: default
---
{% comment %}
<div style="text-align:right; font-size:60%; position:absolute; z-index:100; top: -148pt; right:-13pt; background-color: white; opacity:.5; font-family:Montserrat;"><a href="/text.html" style="color:black; text-decoration: underline;">hide<br>images</a></div>
{% endcomment %}

<script src="/assets/js/app.js" type="text/javascript"></script>
<script>
    function toggleAll(checkbox,classname){
        state = document.getElementById(checkbox).checked;
        var ims = document.getElementsByClassName(classname);
        for (var i = 0; i < ims.length; ++i) {
            var item = ims[i];
            if(state){
                item.style.display="unset";
            } else{
                item.style.display="none";
            }
        }
    }
    function sortChildren(containerSelector, reverse, field) {
      const container = document.getElementById(containerSelector);
      const order = reverse ? -1 : 1;
      
      Array.from(container.children)
        .sort((a, b) => order * parseInt(a.dataset[field], 10) - order * parseInt(b.dataset[field], 10))
        .forEach(element => container.appendChild(element));
        
    }

    function updateOrder() {
        var zone = document.getElementById("sort-select");
        if (zone.value == "newest"){
            sortChildren('blurbs', true, 'date');
        } else if (zone.value == "oldest"){
            sortChildren('blurbs', false, 'date');
        } else if (zone.value = "updated"){
            sortChildren('blurbs', true, 'updated');
        }
    }
    
</script>
    
<div class="headerfont theme-div">
<select id="sort-select" class="brutalism-selector" onchange="updateOrder();">
    <option disabled selected>sort by</option>
    <option value="updated">updated</option>
    <option value="newest">newest</option>
    <option value="oldest">oldest</option>
</select> 
<select id="theme-select" class="brutalism-selector" onchange="updateTheme();">
    <option value="none" disabled selected>theme</option>
    <option value="normal">tryhard</option>
    <option value="brutalism">brutalism</option>
</select>
<input type="checkbox" class="normalonly hidden-mobile theme-boxes" id="images-checkbox" onchange="toggleAll('images-checkbox','blurb-img')" checked><label class="normalonly hidden-mobile" id="images-checkbox-label" for="images-checkbox">ims</label>
<!-- <input type="checkbox" id="titles-checkbox" onchange="toggleAll('titles-checkbox','blurb-title')" checked><label for="titles-checkbox">titles</label> -->
<input type="checkbox" class="theme-boxes" id="dates-checkbox" onchange="toggleAll('dates-checkbox','blurb-date')" checked><label for="dates-checkbox">dates</label>
<input type="checkbox" class="theme-boxes" id="subtitles-checkbox" onchange="toggleAll('subtitles-checkbox','blurb-subtitle')" ><label for="subtitles-checkbox">subtitles</label>
<input type="checkbox" class="theme-boxes" id="quotes-checkbox" onchange="toggleAll('quotes-checkbox','blurb-quote')" checked><label for="quotes-checkbox">blurbs</label>
<script>
window.addEventListener('load', (event) => {
    toggleAll('images-checkbox','blurb-img');
    // toggleAll('titles-checkbox','blurb-title');
    toggleAll('subtitles-checkbox','blurb-subtitle');
    toggleAll('dates-checkbox','blurb-date');
    toggleAll('quotes-checkbox','blurb-quote');
});
function updateTheme() {
    var zone = document.getElementById("theme-select");
    if (zone.value == "normal"){
        swapStyleSheet('/assets/css/app.css');
    }
    if (zone.value == "brutalism"){
        swapStyleSheet('/assets/css/luu.css');
    }
}
</script>
</div>

{% comment %}
<div class="headerfont" style="margin-left:5pt; margin-right:5pt; font-size:65%;">acetone ✓ alcohol ✗ analogies ✓ arguing ✓ aspartame ✓ bluetooth ✗ copies ✓ correlations ✗ diagnostics ✓ ENFJs ✓ ethylene ✓ factors ✓ gratitude ✗ hotness ✓ humidifiers ✗ kill-grandma ✗ lists ✓ litter ✗ mbti ✓ nukes ✗ p2p-meth ✓ pain ✗ pm2.5 ✗ potatoes ✓ running ✓ sales-tax ✗ selfhood ✗ split-brain ✗ statins ✓ ubi ✗ wirecutter ✗</div>
{% endcomment %}

<!-- <div style="display:flex; gap: 20px; flex-wrap:wrap; justify-content: center; margin-top: 20px;"> -->

{% assign posts_by_updated = site.posts | sort: "last_modified_at" %}
<div class="blurbs" id="blurbs">
    {% for post in posts_by_updated %}{% include post-item-blurb.html %}{% endfor %}
</div>

<script>
    sortChildren('blurbs', true, 'updated');
</script>