---
layout: default
---
{% comment %}ADD THIS BACK IF YOU WANT CONTENT BACK{% endcomment %}
{% comment %}
<div class="content">
    {{ content }}
</div>
{% endcomment %}
<div style="text-align:right; font-size:80%; position:fixed; z-index:100; top: 0; right:0; background-color: white; opacity:.5; font-family:Montserrat;"><a href="/" style="color:black; text-decoration: underline;"> show images</a></div>

<div class="columns is-multiline" style="justify-content:center;">

    {% assign oldyear = "bubb" %}

    {% for post in site.posts %}
    
    {% assign year = post.date | date: "%Y" %}
    {% if year != oldyear %}
    <div class="column is-8">
    {{year}}
    </div>
    {% assign oldyear = year %}
    {% endif %}

    <div class="column is-8">
    <span style="display: inline-block; min-width:50pt;">{{ post.date | date: "%b %-d" }}</span>
    <a href="{{post.url}}">
        {{post.title}}
    </a>
    </div>
 
    {% endfor %}
</div>


