---
layout: default
---
<div style="text-align:right; font-size:60%; position:absolute; z-index:100; top: -148pt; right:-13pt; background-color: white; opacity:.5; font-family:Montserrat;"><a href="/text.html" style="color:black; text-decoration: underline;">hide<br>images</a></div>

{% comment %}ADD THIS BACK IF YOU WANT CONTENT BACK{% endcomment %}
{% comment %}
<div class="content">
    {{ content }}
</div>
{% endcomment %}

{% comment %}
<div class="columns is-multiline headerfont">
    <div class="content">
        <span style="font-size:130%">CATEGORIES</span>
        <ul style="margin-top:3pt;">
            {% for item in site.pages %}
                {% if item.is_category_page == true %}
                    <li style="margin:0;"><a href="{{item.url}}">{{ item.category }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
    </div>
</div>
{% endcomment %}

{% comment %}
<div class="columns is-multiline headerfont">
    <div class="content">
        <span style="font-size:130%">CATEGORIES</span>
        <ul style="margin-top:3pt; display:flex; flex-wrap:wrap;">
            {% for item in site.pages %}
                {% if item.is_category_page == true %}
                    <li style="margin:0; width:240px;"><a href="{{item.url}}">{{ item.category }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
        <span style="font-size:130%">ALL POSTS</span>
    </div>
</div>
{% endcomment %}

<div class="columns is-multiline headerfont">
    <div class="content" style="margin-top:-35px;">
        <span style="font-size:130%;">CATEGORIES</span>
        <div style="margin-top:3pt; display:flex; flex-wrap:wrap;">
            {% for item in site.pages %}
                {% if item.is_category_page == true %}
                    <div style="margin:0; width:min(50%,170px); font-size:75%;">• <a href="{{item.url}}">{{ item.category }}</a></div>
                {% endif %}
            {% endfor %}
        </div>
        <p>
        <span style="font-size:130%">ALL POSTS</span>
    </div>
</div>


{% comment %}
<div class="columns is-multiline headerfont">
    <div class="content">
        <span style="font-size:130%;">CATEGORIES</span>
        <div style="display:flex; flex-wrap:wrap;">
            {% for item in site.pages %}
                {% if item.is_category_page == true %}
                    <div style="margin-bottom:10px; margin-top:10px; padding:0px; border:none; width:200px;">
                        <a href="{{item.url}}">{{ item.category }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    <p>
    <div style="font-size:130%">ALL POSTS</div>
    </div>
</div>
{% endcomment %}


{% comment %}
<div class="columns is-multiline">
    {% for post in site.pages %}
        {% if post.is_category_page == true %}
            <div class="column is-3">
                {% include post-item.html %}
            </div>
        {% endif %}
    {% endfor %}
    <div style="font-size:130%">ALL POSTS</div>
</div>
{% endcomment %}


<div class="columns is-multiline">
    {% for post in paginator.posts %}
    <div class="column is-6">
        {% include post-item.html %}
    </div>
    {% endfor %}

    {% comment %}
    ADD THIS BACK IF YOU WANT PAGINATION AGAIN
    {% endcomment %}
    {% comment %}
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    {% endcomment %}
</div>


