---
layout: default
---

<article>
  <header>
    {% include hero.html %}
    <h1 style="font-size: min(5rem, 9vw, calc(600vw / {{ page.title | size }}));">{{page.title}}</h1>

  </header>  

  <section>
    <div style="text-align:right; font-size: 80%;"><a href="/">dynomight</a> ·
    {%- if page.seo.date_modified -%}
      <time title='First published: {{ page.date | date: "%b %d %Y" }}&#013;Last updated: {{ page.seo.date_modified | date: "%b %d %Y" }}'>
        updated {{page.seo.date_modified | date : "%b %Y" }}
      </time>
    {% else %}
      <time title='Published: {{ page.date | date: "%b %d %Y" }}'>{{ page.date | date: "%b %Y" }}</time>
    {% endif %}
    ·
    {% for tag in page.tags %}
        <a href="/#{{tag | downcase}}">{{tag}}</a> 
    {% endfor %}

  </div>

    {{ content }}

  </section>

  <hr>

  <style>
    #errorForm:focus-within ~ .popup-on-focus {
      visibility: visible !important;
      pointer-events: auto !important;
      transition: visibility 0.25s 0.75s, pointer-events 0s 0s !important;
    }
  </style>

  <section>
    <form action="https://formsubmit.co/928b923b668e10a176706a09a48958d5" method="POST">
      Please support me by subscribing for weekly-ish posts:
        <input type="hidden" name="_subject" value="SUBSCRIBE SUB" />
        <input type="email" name="email" placeholder="email@email.com" class="textinput" required />
        <input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" />
        <input type="hidden" name="_captcha" value="false">
        <input type="text" name="_honey" style="display:none">
        <input type="hidden" name="_url" value="https://dynomight.net/">
        <button type="submit" class="button">ok</button>
        (Or try <a href="https://dynomight.substack.com">substack</a> or <a href="https://dynomight.net/feed.xml">RSS</a>)
    </form>
    
    <p>

    {% if page.comment %}
      <p>Comments at
      {% for k in page.comment %}
        <a href="{{k[1]}}">{{k[0]}}</a>
        {%- if forloop.last -%}{{"."}}{%- else -%}{{" or "}}{%- endif -%}
      {% endfor %}
      {% endif %}
      {% if page.replies %}
      Replies at
      {% for k in page.replies %}
        <a href="{{k[1]}}">{{k[0]}}</a>
        {%- if forloop.last -%}{{"."}}{%- else -%}{{" or "}}{%- endif -%}
      {% endfor %}
    {% endif %}

  </section>
  <hr>
  <section>

    {% include related.html %}

  </section>
  <hr>
  <section>
    <form action="https://formsubmit.co/928b923b668e10a176706a09a48958d5" id="errorForm" method="POST"> 
      Mistakes?
      <input type="text" name="errors" placeholder="you misspelled..." class="textinput" required> 
      <input type="hidden" name="_subject" value="ERROR {{include.id}} {{page.title | slice: 0,20}}" /> 
      <input type="hidden" name="_next" value="https://dynomight.net/respond_success.html" /> 
      <input type="hidden" name="_captcha" value="false" /> 
      <input type="text" name="_honey" style="display:none">
      <input type="hidden" name="_url" value="https://dynomight.net/" /><button type="submit" id="errorButton" class="button">fix</button> 
    </form>
    <span class="popup-on-focus" style="visibility: hidden; transition: visibility 0s 0.3s, pointer-events 0s 0.3s; line-height: 1; color:gray; font-size:75%;">(Just want to see <a href="https://dynomight.net/respond_success.html">what happens</a>?)</span>

  </section>

</article>

<script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>