---
layout: default
---

{% if page.intro %}
<div class="intro">
    <div class="columns is-centered">
        {% if page.intro_image %}
        <div class="column is-8-desktop is-6-tablet">
            <figure class="image {% if page.intro_image_ratio %} {{ page.intro_image_ratio }} {% else %} is-16by9 {% endif %}">
                <img src="{{ page.intro_image | prepend: site.baseurl }}" alt="{{ page.title }}" />
            </figure>
        </div>
        {% endif %}
        <div class="column is-4-desktop is-6-tablet">
            <p class="title is-1">{{ page.intro }}</p>
        </div>
    </div>
</div>
{% endif %}

{% assign today = site.time | date: '%s' %}
{% assign start = page.date | date: '%s' %}
{% assign secondsSince = today | minus: start %}
{% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
{% assign daysSince = hoursSince | divided_by: 24  %}

<div class="columns is-centered">
    <div class="column is-8-desktop is-10-tablet">
        <div class="content">
          <p style="text-align:right; font-size:.7em; margin-top:-2em;" class="headerfont">
            {% comment %}
            {% if page.last_updated %}
            <strong>{{ page.date | date: "%-d %b %Y" }}</strong> &nbsp; (Updated {{page.last_updated | date : "%-d %b %Y" }})
            {% else %}
            <strong>{{ page.date | date: "%-d %b %Y" }}</strong>
            {% endif %}
            {% endcomment %}

            {% comment %}
            {% if page.last_updated %}
            <strong>{{ page.date | date: "%b %Y" }}</strong> &nbsp; (Updated {{page.last_updated | date : "%b %Y" }})
            {% else %}
            <strong>{{ page.date | date: "%b %Y" }}</strong>
            {% endif %}
            {% endcomment %}

            {% if page.last_updated %}
              <span title='First published: {{ page.date | date: "%b %d %Y" }}&#013;Last updated: {{ page.last_updated | date: "%b %d %Y" }}' style="cursor:pointer; font-weight:bold;">
              Updated {{page.last_updated | date : "%b %Y" }}
              </span>
            {% else %}
              <span title='Published: {{ page.date | date: "%b %d %Y" }}' style="cursor:pointer; font-weight:bold;">
              {{ page.date | date: "%b %Y" }}
              </span>
            {% endif %}
          </p>

          {% comment %}
          {% assign subscribe-tag = "top" %}{% include signup-form.html %}
          {% endcomment %}

          {{ content }}

        </div>

        {% comment %}
        <div class="tags">
            {% for tag in page.tags %}
            <span class="tag is-primary">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endcomment %}

        {% assign author = site.authors | where: 'name', page.author | first %}
        {% if author %}
        {% include author-media.html %}
        {% endif %}

        {% if page.reddit %}
        <div align="right"><font size=-1><a href="{{page.reddit}}">(comment on reddit)</a></font></div>
        {% endif %}
    </div>
</div>

<script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>

{% unless page.is_category_page %}
<p></p>
{% comment %} THREE DIVS FOR ALL THE BLOCKS AT THE END {% endcomment %}
<div class="columns is-centered">
  <div class="column is-8-desktop is-10-tablet">
      <div class="content">      

        {% comment %} SIGNUP BLOCK {% endcomment %}
        {% comment %}
        <div class="container" style="text-align: center; border-style:solid; border-width:0px; padding:10px; background-image:url('/img/deathvalleysky_prog.jpg'); background-size: auto 100%; border-radius: 5px;" id="form"> 
          <a href="/about.html"><div class="headerfont" style="color:white; margin-bottom:2px; padding:10px; font-size:220%;">ABOUT</div></a>
        </div>
        {% endcomment %}
          
        <div class="headerfont" style="margin-bottom:10pt;">
          <form action="https://formsubmit.co/4a18e703496d7ca33c417b1bf528ad9d" method="POST"> 
            Subscribe via <a href="/feed.xml">RSS</a> or <a href="https://dynomight.substack.com">substack</a> or here:
            <input type="email" class="headerfont" name="email" placeholder="email@email.com" style="max-width: 90pt; border:0; margin:0; padding-left:2pt; padding-right: 2pt; background-color:#dddddd; height:20pt; font-size:60%;" required> 
            <input type="hidden" name="_subject" value="SUBSCRIBE {{include.id}} {{page.title | slice: 0,20}}" /> 
            <input type="hidden" name="_next" value="https://dynomight.net/subscribe_success.html" /> 
            <input type="hidden" name="_captcha" value="false" /> 
            <input type="hidden" name="_url" value="https://dynomight.net/" />
            <button type="submit" class="headerfont" style="border:0; margin:0; padding-left:2pt; padding-right: 2pt; max-width:80pt; background-color: #aaaaaa; height:20pt; cursor:pointer; font-size:60%;">ok ok calm down</button> 
          </form>
        </div>

        {% comment %}
        <div id="0">
          {% include signup-simple.html id='02' %}
        </div>

        <div id="A" style="display:none;">
          {% include signup-simple.html id='A2' %}
        </div>

        <div id="B" style="display:none;">
        {% include signup.html id='B2'%}
        </div>

        <div id="C" style="display:none;">
          {% include signup-fancy.html id='C2' %}
        </div>

        <p>
          {% endcomment %}
        
        {% comment %}{% include related.html %}{% endcomment %}
      </div>
      </div>
    </div>

{% comment %}
<script type = "text/javascript">

window.onload = function(){
  var e = document.getElementById('0');
  e.style.display='none';
  r = Math.random()
  if (r < 0.333333){
    e = document.getElementById('A');
  } else if(r < 0.66667){
    e = document.getElementById('B');
  } else{
    e = document.getElementById('C');
  }
  e.style.display='block';
}
</script>
{% endcomment %}

{% comment %}
<div style="margin-top:20px; margin-bottom:20px; font-size:130%;" class="headerfont">
  <a href="/about/">About</a> dynomight
</div>
{% endcomment %}

{% endunless %}

    {% if page.is_category_page %}
      <div class="headerfont" style="font-size:130%; margin-bottom:10pt;">All <a href="/categories/">categories</a></div>
      <div class="headerfont" style="font-size:130%; margin-bottom:10pt;">All posts on {{page.category}}</div>
      {% include category-related.html category=page.category%}
    {% else if page.category %}

      {% for item in site.pages %}
        {% if item.is_category_page == true and item.category==page.category %}
            <div class="headerfont" style="font-size:130%; margin-bottom:10pt;">Also about <a href="{{item.url}}">{{page.category}}</a></div>
            {% break %}
        {% endif %}
      {% endfor %}

    {% include category-related.html category=page.category%}
    {% else %}
    {% include related.html %}
    {% endif %}
    
{% comment %}  
    <center>
      <iframe id="ssiframe" style="display:none;" src="https://dynomight.substack.com/embed" width="min(480,100%)" height="320" loading="lazy" frameborder="0" scrolling="no"></iframe>
      </center>
      
      <div id="0">
        {% include signup-simple.html id='0' %}
      </div>
      
      <script src="/prebid-ads.js"></script>
      <script type = "text/javascript">
        window.onload = function(){
          var e = document.getElementById('ssiframe');
          if(e != null && window.AdsAllowed != undefined){
            var e = document.getElementById('ssiframe');
            e.style.display='block';
            var e = document.getElementById('0');
            e.style.display='none';
          }
        }
        </script>
{% endcomment %}